<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>MH2SRQ3N27.com.nuri.mobile-ios</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:nuri.com</string>
		<string>webcredentials:passkey.nuri.com</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>TAG</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.nuri.mobile-ios</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.nuri.ios</string>
	</array>
</dict>
</plist>
