<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter.ttf</string>
		<string>Inter-Italic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>NFCReaderUsageDescription</key>
	<string>scan cards</string>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string></string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A000000151000000</string>
		<string>A000000151041010</string>
		<string>494445585F4C5F0101</string>
		<string>4A4E45545F4C5F020101</string>
		<string>A00000090501000101</string>
		<string>A00000090501000301</string>
	</array>
</dict>
</plist>
